form{
    background-color: rgb(219, 214, 214);
    padding: 15px 5px;
}
form>div{
    display: flex;
    margin-bottom: 10px;
    gap:100px;

}
form>div>:first-child{
    width:100px;
    
}
.abc{
    width:500px;
    height: 25px;

}
button{
    background-color: #56dd56;
    color: white;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 100px;
}
h1{
    /* height:0px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:12px;
}
a{
    color: rgb(231, 10, 10);
}